.resourcesContainer {
    width: 100%;
    height: 2200px;
    background-color: #ffedb6;
  }
  
  .resourcesContent {
    width: 100%;
    height: 300px;
    position: relative;
  }
  
  .resourcesTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    font-size: 25px;
    text-align: center;
    color: #6d560e;
    font-weight: bolder;
  }
  
  .resourcesSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #e8e7e8;
    border-radius: 12px;
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  
  .resourcesSearch > img {
    width: 25px;
    margin-left: 20px;
  }
  .resourcesSearch > p {
    margin-left: 20px;
    color: #64626a;
    font-weight: 400px;
    font-size: 18px;
  }
  
  .resourcesContent1 {
    position: relative;
    width: 100%;
    height: 1670px;
    background-color: #fff;
    border-radius: 48px 48px 0px 0px;
    margin-top: 80px;
  }
  
  .resourcesContentBox1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 250px;
    background: rgb(80, 181, 255, 0.2);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .resourcesContentBox2 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 1200px;
  }
  
  .box1Box {
    width: 350px;
    height: 200px;
    background-color: #fff;
    margin: auto;
    border: 1px solid #d1d0d6;
    border-radius: 12px;
    opacity: 1;
  }
  
  .boxTitle {
    display: flex;
    color: #3b3a40;
    font-weight: 700;
  }
  .boxTitle > h2 {
    margin-left: 20px;
  }
  .boxTitle > img {
    margin-left: 20px;
  }
  
  .box1Box > p {
    width: 80%;
    height: 100px;
    margin-left: 40px;
    line-height: 1.5;
    color: #64626a;
    font-weight: 400;
  }
  
  .resourceA {
    margin-left: 40px;
    margin-top: -20px;
  }
  
  .box2Title {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 100px;
    font-size: 30px;
    color: #000;
    font-weight: bolder;
    text-align: center;
    margin-top: -20px;
  }
  
  .box2Box {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 1040px;
  }
  
  .articleBox {
    width: 99%;
    height: 180px;
    border: 1px solid #d1d0d6;
    border-radius: 12px;
    margin: 20px auto 20px auto;
    display: flex;
  }
  
  .articleBox>img{
      margin: 0 0 0 20px;
      width: 140px;
  }
  
  .articleText{
      margin-left: 20px;
      margin-top: 20px;
  }
  
  .seeMore{
  justify-content: center;
  position: relative;
  top: 96%;
  }